/Aula03/nbproject/private/
/Aula03/build/
Aula06/nbproject/private/private.xml
Aula07/nbproject/private/private.xml
Aula06/nbproject/private/private.xml
Aula07/nbproject/private/private.xml
/Aula07 - ProjetoUEC/build/
/Aula07 - ProjetoUEC/nbproject/private/
/Aula09-ProjetoLivro/build/
/Aula09-ProjetoLivro/nbproject/private/
/Aula07-ProjetoUEC/build/
/Aula07-ProjetoUEC/nbproject/private/
/Motos/nbproject/private/
/Autos/nbproject/private/
/Autos/build/
Autos/src/motos/Motos.java
Desafios/PraticarAula04/src/praticaraula04/Tenis.java
Desafios/PraticarAula04/src/praticaraula04/PraticarAula04.java
Desafios/PraticarAula04/nbproject/project.xml
Desafios/PraticarAula04/nbproject/project.properties
Desafios/PraticarAula04/nbproject/private/private.xml
Desafios/PraticarAula04/nbproject/private/private.properties
Desafios/PraticarAula04/nbproject/genfiles.properties
Desafios/PraticarAula04/nbproject/build-impl.xml
Desafios/PraticarAula04/manifest.mf
Desafios/PraticarAula04/lib/nblibraries.properties
Desafios/PraticarAula04/lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
Desafios/PraticarAula04/build/classes/praticaraula04/Tenis.class
Desafios/PraticarAula04/build/classes/praticaraula04/PraticarAula04.class
Desafios/PraticarAula04/build/classes/.netbeans_update_resources
Desafios/PraticarAula04/build/classes/.netbeans_automatic_build
Desafios/PraticarAula04/build.xml
Desafios/PraticarAula04/build.xml
Desafios/PraticarAula04/build/classes/.netbeans_automatic_build
Desafios/PraticarAula04/build/classes/.netbeans_update_resources
Desafios/PraticarAula04/build/classes/praticaraula04/PraticarAula04.class
Desafios/PraticarAula04/build/classes/praticaraula04/Tenis.class
Desafios/PraticarAula04/lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
Desafios/PraticarAula04/lib/nblibraries.properties
Desafios/PraticarAula04/manifest.mf
Desafios/PraticarAula04/nbproject/build-impl.xml
Desafios/PraticarAula04/nbproject/genfiles.properties
Desafios/PraticarAula04/nbproject/private/private.properties
Desafios/PraticarAula04/nbproject/private/private.xml
Desafios/PraticarAula04/nbproject/project.properties
Desafios/PraticarAula04/nbproject/project.xml
Desafios/PraticarAula04/src/praticaraula04/PraticarAula04.java
Desafios/PraticarAula04/src/praticaraula04/Tenis.java
